/*GENERAL STYLES*/
html {
  background-color: #F2F1E8;
  color: #131511;
  font-family: 'Merriweather', 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 50px;
}

footer {
  background-color: #2B2F26;
  padding: 15px;
  color: #FFFFFF;
}

a {
  color: #968772;
}

a:hover {
  color: #967343
}

ul {
  margin: 0;
}

/*NAV STYLES*/
nav {
  height: 40px;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
}

#site-navigation {
  padding: 10px
}

#site-navigation img {
  height: 30px;
  margin-top: 6px;
  width: auto;
  float: left;
}

nav ul li {
  padding: 10px 30px;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a {
  color: #2B2F26;
}

nav a:hover {
  color: #CD5D67;
}



h1, h2 {
  text-align: center;
}

/*IMAGES*/
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#images-row--first {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 1000px;
  height: 400px;
}

#images-row--second {
  display: flex;
  align-items: row;
  overflow: hidden;
}

#images-row--first img {
  height: 250px;
  width: auto;
  margin: 10px;
}

#images-row--second img {
  height: 170px;
  width: auto;
  margin: 10px;
}

#first-image {
  background-image: url('images/product-1.jpg');
  background-size: cover;
  width: 360px;
  height: 230px;
}

#fourth-image, #fifth-image {
  background-size: cover;
  width: 800px;
  height: 400px;
}

#fourth-image {
  background-image: url('images/product-1.jpg');
}



/*ABOUT PAGE*/
.wrapper {
  margin: 0 300px;
}
.about-intro img {
  margin: 0px 15px 15px 0px;
  height: 100px;
  float: left;
}

.about-divider {
  background-image: url("images/background-3.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: auto;
  color: #FFF;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-divider h1 {
  font-size: 3em;
  font-weight: 300;
}

.wrapper {
  line-height: 2em;
  font-size: 14px;
  font-weight: lighter;
}

.wrapper h1 {
  margin: 60px 0 40px 0;
  font-size: 50px;
  font-weight: 400;
}

.wrapper h2 {
  text-align: left;
  font-weight: 400;
}

blockquote {
  border-left: 2px solid #CCCCCC;
  padding-left: 20px;
  font-weight: 300;
  font-style: italic;
}

/*NEWSLETTER PAGE*/
#newsletter {
  background-image: url("images/background-2.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

#newsletter .signup {
  background-color: #FFFFFF;
  height: 30%;
  width: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.signup h1 {
  font-size: 2em;
  font-weight: 300;
}

.signup h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 45px;
}

/*FORM ELEMENTS*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  -webkit-appearance:none;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 1.3em;
  width: 100%;
}

input:focus{
  outline: none;
}

#submitButton {
  padding: 15px 28px;
  color: white;
  font-size: 1.3em;
  background-color: #968773;
  border: none;
  width: 140px;
}

/*TABLE ELEMENTS*/
table {
  border: 1px #000000 solid;
  border-collapse: collapse;
  font-weight: 300;
  margin: 0 0 30px 0;
}

table thead td {
  text-align: center;
  background-color: #F2F1E8;
}

table th td {
  background-color: #1fabe5;
  color: white;
  border: 1px #000000 solid;
}

tr:nth-child(odd) {
  background-color: #F3EADA;
}

table td {
  padding: 10px;
  margin: 0;
  border: 1px #000000 solid;
}
