/*GENERAL STYLES*/
html {
  background-color: #F2F1E8;
  color: #131511;
  font-family: 'Merriweather', 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
}

main {
  flex: 1;
  padding-top: 50px;
}

footer {
  background-color: #2B2F26;
  padding: 25px;
  color: #FFFFFF;
}

a {
  color: #968772;
}

a:hover {
  color: #967343
}

ul {
  margin: 0;
}

/*NAV STYLES*/
nav {
  height: 40px;
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 3px 1px #2B2F26;
}

#site-navigation {
  padding: 10px;
}

#site-navigation img {
  height: 30px;
  margin-top: 6px;
  width: auto;
  float: left;
}

nav ul li {
  padding: 10px 30px;
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a {
  color: #2B2F26;
}

nav a:hover {
  color: #CD5D67;
}

.active {
  color: #968772;
}

h1, h2 {
  text-align: center;
}

/*HOME*/

#home h1 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
}

#home h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 27px;
  font-weight: 300;
}

/*HOME IMAGES*/

.images {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  padding: 0 48px 10px 48px;
}

.images img {
  background-size: cover;
}

.images p {
  font-family: 'Merriweather', 'Roboto', serif;
  background-color: #2A3025;
  color: #F2F1E8;
  margin-top: 20%;
  padding: 8px 16px;
  position: absolute;
}

#images-row--first {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 30px;
  width: 1280px;
  height: 350px;
}

#images-row--first p {
  margin-top: 20%;
}

#images-row--second {
  display: flex;
  align-items: row;
  overflow: hidden;
  margin: 0 30px;
  height: 220px;
  width: 1280px;
}

#images-row--second p {
  margin-top: 12%;
}

#first-image {
  width: 640px;
  background-image: url('images/product-1.jpg');
  background-size: cover;
  margin: 8px 8px;
}

#second-image {
  width: 200px;
  background-image: url('images/product-2.jpg');
  background-size: cover;
  margin: 8px 8px;
}

#third-image {
  width: 200px;
  background-image: url('images/product-3.jpg');
  background-size: cover;
  margin: 8px 8px;
}

#fourth-image {
  width: 230px;
  background-image: url('images/product-4.jpg');
  background-size: cover;
  margin: 8px 8px;
}

#fifth-image {
  width: 230px;
  background-image: url('images/product-5.jpg');
  background-size: cover;
  margin: 8px 8px;
}

#sixth-image {
  width: 480px;
  background-image: url('images/product-6.jpg');
  background-size: cover;
  margin: 8px 8px;
}

#seventh-image {
  width: 230px;
  background-image: url('images/product-7.jpg');
  background-size: cover;
  margin: 8px 8px;
}

/*ABOUT PAGE*/
.wrapper {
  margin: 0 300px;
}
.about-intro img {
  margin: 0px 15px 15px 0px;
  height: 100px;
  float: left;
}

.about-divider {
  background-image: url("images/background-3.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: auto;
  color: #FFFFFF;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-divider h1 {
  font-size: 3em;
  font-weight: 300;
}

.about-history {
  margin-bottom: 30px;
}

.wrapper {
  line-height: 2em;
  font-size: 14px;
  font-weight: lighter;
}

.wrapper h1 {
  margin: 60px 0 40px 0;
  font-size: 50px;
  font-weight: 400;
}

.wrapper h2 {
  text-align: left;
  font-weight: 400;
}

blockquote {
  border-left: 2px solid #CCCCCC;
  padding-left: 20px;
  font-weight: 300;
  font-style: italic;
  margin-left: 0;
}

.about-facilities {
  display: flex;
  flex-direction: row;
}

.about-facilities p {
  width: 70%;
}

figure {
  float: right;
  width: 30%;
}

figure img {
  width: 160px;
  height: auto;
}

figcaption {
  font-size: 12px;
  line-height: 1.5em;
}

/*NEWSLETTER PAGE*/
#newsletter {
  background-image: url("images/background-2.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#newsletter .signup {
  background-color: #FFFFFF;
  width: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.signup h1 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 0;
}

.signup h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 45px;
}

/*FORM ELEMENTS*/
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  -webkit-appearance:none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #968772;
  font-size: 18px;
  width: 100%;
  padding: 4px;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #967343;
}

#submitButton {
  padding: 15px 28px;
  color: white;
  font-size: 20px;
  background-color: #968773;
  border: none;
  width: 140px;

}

#submitButton:hover {
  background-color: #967343;
  color: #FFFFFF;
}

/*TABLE ELEMENTS*/
table {
  border: 1px #000000 solid;
  border-collapse: collapse;
  font-weight: 300;
  margin: 0 0 30px 0;
}

table thead td {
  text-align: center;
  background-color: #F2F1E8;
}

tr:nth-child(odd) {
  background-color: #F3EADA;
}

table td {
  padding: 10px;
  margin: 0;
  border: 1px #000000 solid;
}
